@media all {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c9c5c5;
    .content {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      .form-content {
        display: none;
        background: #fff;
        max-width: 600px;
        width: 100%;
        height: 90%;
        box-sizing: border-box;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        padding: 0 35px 35px;
        .social {
          h5 {
            margin: 10px 0;
            text-align: center;
            font-size: 30px;
          }
          &__description {
            text-align: center;
            color: #c9c5c5;
          }
          &__icons {
            display: flex;
            justify-content: flex-start;
            margin: 20px 0 10px;
            a {
              background: #c9c5c5;
              border: none;
              border-radius: 50%;
              width: 45px;
              height: 45px;
              display: flex;
              justify-content: center;
              align-items: center;
              text-decoration: none;
              &:not(:first-child) {
                margin-left: 20px;
              }
              &:hover {
                background: blue;
              }
              i {
                color: #fff;
                font-size: 27px;
                display: inline-block;
              }
            }
          }
          &__separator {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 0;
            .line {
              max-width: 200px;
              width: 100%;
              height: 2px;
              border-bottom: 2px solid #c9c5c5;
              margin: 0 10px;
            }
            span {
              color: #c9c5c5;
            }
          }
        }
        form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .form-group {
            margin: 0;
            padding: 0;
            width: 100%;
          }
          input {
            color: #000000;
            padding-left: 20px;
            padding-right: 10px;
            height: 40px;
            width: 100%;
            background: #c9c5c5;
            outline: none;
            margin: 5px 0;
            box-sizing: border-box;
            &:-ms-input-placeholder {
              color: #fff;
            }
            &::-webkit-input-placeholder {
            color: #fff;
          }
          }
          button {
            border: none;
            border-radius: 5px;
            background-color: blue;
            color: #fff;
            text-align: center;
            width: 100%;
            height: 40px;
            outline: none;
            cursor: pointer;
            margin-top: 20px;
          }
          .user-license {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            margin-top: 10px;
            p {
              color: dimgrey;
              margin-bottom: 2px;
            }
            a {
              text-decoration: none;
              color: dodgerblue;
            }
          }
        }
      }
      #form-data {
        max-width: 600px;
        width: 100%;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        .data-list {
          text-align: center;
          color: #0f0f0f;
          width: 100%;
          font-size: 20px;
        }
        span {
          margin: 10px;
          font-size: 16px;
          color: #c0c0c0;
          border-bottom: 2px solid #c9c5c5;
          width: 90%;
          padding-bottom: 10px;
        }
      }
    }
  }
}