//= template/head.html

<div class="content">
    <div class="form-content">
        <div class="social">
            <h5 title="регистрация на сайте site">Регистрация</h5>
            <div class="social__description">Войдите с помощью учетной записи в других сервисах</div>
            <div class="social__icons">
                <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-vk" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
            <div class="social__separator">
                <span class="line"></span>
                <span>или</span>
                <span class="line"></span>
            </div>
        </div>
        <form class="form-horizontal" method="post" id="form" role="form">

            <div class="form-group">
                <input type="text" name="login" class="form-control" placeholder="Логин" required>
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="Почта" required>
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
                <input type="password" name="password" minlength="6"  class="form-control"
                       placeholder="Пароль"
                       required id="inputPassword">

                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
                <input type="password" class="form-control" placeholder="Повторите пароль" required
                       id="inputPasswordConfirm"
                       data-match="#inputPassword"
                       data-match-error="Пароли не совпадают">
                <div class="help-block with-errors"></div>
            </div>

            <button id="btn" type="submit" class="btn btn-primary">Зарегестрироватся</button>
            <div class="user-license">
                <p>
                    Регестрируясь, вы принимаете условия
                </p>
                <a href="#">
                    Пользовательского соглашения
                </a>
            </div>
        </form>
    </div>
    <div id="form-data">
        <div class="data-list"> Список данных формы:</div>
    </div>
</div>

//= template/footer.html


